.intro-wrapper {
  position: relative;
  margin-bottom: 12px;
  background: black;
}
.intro-background-img img {
  height: 350px;
  width: 100%;
  object-fit: none;
  z-index: -1;
  opacity: 0.4;
}
.intro-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro-overlay img {
  object-fit: fill;
  height: 150px;
  width: 150px;
}
.intro-overlay h1 {
  margin: 12px 0;
}
.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-title {
  font-size: large;
  font-weight: bold;
  color: white;
}
.services-description {
  font-size: medium;
  color: white;
  margin: 12px 0;
  max-width: 660px;
}
.services-sections-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.service-section {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 4px 8px #000000;
  box-shadow: inset;
  padding: 24px;
  margin: 12px;
}
.service-title {
  font-size: large;
  font-weight: bold;
  color: black;
  margin-bottom: 12px;
}
.service-description {
  font-size: medium;
  color: black;
}

.register-email-wrapper {
  width: 100%;
}
.register-email-container {
  margin: 12px;
  padding: 24px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 8px #000000;
}
.register-email-title {
  font-size: large;
  font-weight: bold;
  color: black;
  margin-bottom: 12px;
}
.register-email-input {
  font-size: medium;
  color: black;
}
