.intro-wrapper {
  position: relative;
  margin-bottom: 12px;
  background: rgb(27, 27, 27);
  height: 340px;
  width: 100%;
}
.intro-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro-overlay img {
  object-fit: fill;
  height: 150px;
  width: 150px;
  margin-bottom: 12px;
}
.intro-overlay h1 {
  margin: 12px 0;
}
.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-sections-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 12px;
}
.service-section {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #ffdee9;
  background-image: linear-gradient(
    92.7deg,
    rgba(245, 212, 212, 1) 8.5%,
    rgba(252, 251, 224, 1) 90.2%
  );

  box-shadow: 0px 4px 8px #000000;
  box-shadow: inset;
  padding: 24px;
  margin: 12px;
  transition: 0.3s;
}
.service-section:hover {
  box-shadow: 0 0 0 black;
}
.service-title {
  font-size: large;
  font-weight: bold;
  color: black;
  margin: 12px 0;
}
.service-description {
  font-size: medium;
  color: black;
  margin: 12px 0 24px 0;
}

.services-title {
  margin-top: 24px;
  font-size: large;
  font-weight: bold;
  color: white;
}
.services-description {
  font-size: medium;
  color: white;
  margin: 12px 0 24px 0;
  max-width: 660px;
}

.second-row-content-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.additional-content-wrapper {
  position: relative;
  margin: 12px;
  padding: 24px;
  background-color: #ffdee9;
  background-image: linear-gradient(
    92.7deg,
    rgba(245, 212, 212, 1) 8.5%,
    rgba(252, 251, 224, 1) 90.2%
  );
  border-radius: 8px;
  box-shadow: 0px 4px 8px #000000;
  transition: 0.3s;
}
.additional-content-wrapper:hover {
  box-shadow: 0 0 0 black;
}
.additional-content-title {
  font-size: large;
  font-weight: bold;
  color: #000000;
  margin-bottom: 24px;
}
.additional-content-content {
  font-size: medium;
  color: #000000;
}
.additional-content-btn {
  position: absolute;
  bottom: 32px;
  left: 10%;
  width: 80%;
  height: 35px;
  border: 0px;
  border-bottom: 2px solid black;
  transition: 0.4s;
}
.additional-content-btn:hover {
  border: 0;
  color: white;
  background-image: linear-gradient(
    102.1deg,
    rgba(96, 221, 142, 1) 8.7%,
    rgba(24, 138, 141, 1) 88.1%
  );
}

.register-email-wrapper {
  text-align: left;
  min-width: 100%;
  max-width: 660px;
}
.register-email-container {
  min-height: 218px;
  margin: 12px;
  padding: 24px;
  background-color: #ffdee9;
  background-image: linear-gradient(
    92.7deg,
    rgba(245, 212, 212, 1) 8.5%,
    rgba(252, 251, 224, 1) 90.2%
  );
  border-radius: 8px;
  box-shadow: 0px 4px 8px #000000;
  transition: 0.3s;
}
.register-email-container:hover {
  box-shadow: 0 0 0 black;
}
.register-email-title {
  font-size: large;
  font-weight: bold;
  color: black;
  margin-bottom: 12px;
}
.register-email-form-wrapper {
  font-size: medium;
  color: black;
}
.register-email-form-wrapper button[type="submit"] {
  border: 0;
  border-bottom: 2px solid black;
  width: 80%;
  height: 35px;
  color: black;
}

.register-email-form-wrapper button[type="submit"]:hover {
  border: 0;
  color: white;
  background-image: linear-gradient(
    102.1deg,
    rgba(96, 221, 142, 1) 8.7%,
    rgba(24, 138, 141, 1) 88.1%
  );
}

/* CSS that should be displayed if width is equal to or less than 800px goes here */
@media (max-width: 1000px) {
  .services-sections-wrapper {
    grid-template-columns: 1fr;
  }
  .second-row-content-wrapper {
    grid-template-columns: 1fr;
  }
  .additional-content-btn {
    width: 40%;
    bottom: 24px;
    left: 30%;
  }
  .additional-content-content {
    margin-bottom: 62px;
  }
}
