.intro-wrapper {
  padding: 12px;
}
.intro-wrapper img {
  width: 100%;
  height: auto;
}
.services-wrapper {
  display: flex;
  flex-direction: column;
}
.services-title {
  font-size: medium;
  font-weight: bold;
  color: white;
}
.services-description {
  font-size: small;
  color: white;
}
.services-sections-wrapper {
  display: flex;
  flex-direction: row;
}
.service-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: inset;
  padding: 12px 24px;
  margin: 12px;
}
.service-title {
  font-size: medium;
  font-weight: bold;
  color: black;
  margin-bottom: 12px;
}
.service-description {
  font-size: medium;
  color: black;
}
