/* Master Styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --main-color: #b3ffc7;
  --main-color-rgb: 179, 255, 199;
  --main-text-color: #000;
  --secondary-text-color: rgb(64, 64, 64);
  --darker-color: #68e0e2;
  --darker-color-rgb: 104, 224, 226;
  --text-gray: #3b3232;
  --text-light: white;
  --dark: black;
  --light: white;
  --footer-color: #535353;
  --header-color: #2193b0;
  --box-shadow: 0px 5px 8px 1px #888888;
  --box-shadow-red: 0px 5px 8px 1px #ca1912;
}

html,
body {
  /* background: black;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  background-color: white;
  background-image: linear-gradient(
    92.7deg,
    rgba(245, 212, 212, 1) 8.5%,
    rgba(252, 251, 224, 1) 90.2%
  );
  font-family: sans-serif;
  margin: 0px; /* removed standart pargin of 8px*/
  position: relative; /* required if we want to use "position: absolute" on a child element */
  height: 100%;
}
h1 {
  font-size: larger;
  color: var(--main-text-color);
}
h2 {
  font-size: large;
  color: var(--main-text-color);
}
p {
  font-size: medium;
  color: var(--secondary-text-color);
}
input {
  display: block;
  margin: 8px 0;
  padding: 8px 6px;
  border-width: 0 0 2px 0;
  width: 100%;
}
form {
  margin: 18px 0 8px 0;
}
input [type="submit"]:hover {
  background: white;
  font-weight: bold;
}
select {
  display: block;
  margin: 8px 0;
  padding: 8px 6px;
  border-width: 0 0 2px 0;
  width: 100%;
}
/* Header */
header {
  height: 10%;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-left: 64px;
  display: flex;
  align-items: center;
  color: white;
}
.header-logo img {
  margin-right: 4px;
  height: 30px;
}

/* Main */
.main {
  height: 80%;
  display: flex;
  color: black;
  font-weight: bold;
  width: 100%;
  padding: 0 24px 24px 24px;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding-top: 24px;
}

.funnel-step-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}
.funnel-container {
  text-align: left;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 218px;
  margin-bottom: 12px;
  padding: 12px;
  background-color: #ffdee9;
  background-image: linear-gradient(
    92.7deg,
    rgba(245, 212, 212, 1) 8.5%,
    rgba(252, 251, 224, 1) 90.2%
  );
  border-radius: 8px;
  box-shadow: 0px 4px 8px #000000;
  transition: 0.3s;
}
.funnel-container:hover {
  box-shadow: 0 2px 4px black;
}
.funnel-inputs {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.funnel-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}
.funnel-description {
  font-size: 18px;
  font-weight: normal;
}
.funnel-img {
  margin: 18px 12px 22px 22px;
  height: 200px;
  width: 200px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px #000000;
}
.funnel-form-wrapper {
  font-size: medium;
  color: black;
  width: 65%;
}
input[type="submit"] {
  display: block;
  margin: 8px 0 0 0;
  padding: 8px 6px;
  border-width: 0 0 2px 0;
  width: 100%;
  background: white;
  transition: 0.2s;
}

input[type="submit"]:hover {
  background: #daffe4;
}

.register-email-container {
  text-align: left;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 218px;
  margin-bottom: 12px;
  padding: 12px;
  background-color: #ffdee9;
  background-image: linear-gradient(
    92.7deg,
    rgba(245, 212, 212, 1) 8.5%,
    rgba(252, 251, 224, 1) 90.2%
  );
  border-radius: 8px;
  box-shadow: 0px 4px 8px #000000;
  transition: 0.3s;
}
.register-email-container:hover {
  box-shadow: 0 2px 4px black;
}
.newsletter-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}
.newsletter-description {
  font-size: 18px;
  font-weight: normal;
}
.newsletter-img {
  margin: 18px 12px 22px 22px;
  height: 200px;
  width: 200px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px #000000;
}
.register-email-inputs {
  margin-left: 32px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-email-title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 12px;
}
.register-email-form-wrapper {
  width: 65%;
  font-size: medium;
  color: black;
}

.final-funnel-title {
  font-size: 48px;
  font-weight: bold;
}
.final-funnel-description {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
}
.first-offers-wrapper {
  margin-top: 32px;
}
.offers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.offer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-btn {
  cursor: pointer;
  height: 220px;
  width: 220px;
  padding: 8px 12px;
  margin-top: 24px;

  box-shadow: 0px 4px 8px #000000;
  transition: 0.3s;
  border-radius: 8px;
}
.offer-btn:hover {
  box-shadow: 0 2px 4px black;
  cursor: pointer;
}
#offerOneBtn {
  background: url("http://aiapie.com/images/iphone-offer.jpg") no-repeat;
  background-size: cover;
}
#offerTwoBtn {
  background: url("http://aiapie.com/images/amazon-black-friday.jpg") no-repeat;
  background-size: cover;
}
#offerThreeBtn {
  background: url("http://aiapie.com/images/walmart-black-friday.jpg") no-repeat;
  background-size: cover;
}
.offer-link {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}
.offer-title {
  font-weight: bold;
  color: black;
  margin-top: 12px;
  border: 0;
  transition: 0.3s;
}
.offer-title:hover {
  border-bottom: 2px solid black;
}
/* Footer */
.footer-wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  height: 10%;
  width: 100%;
  padding: 0 24px 24px 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 24px;
  background-color: #000;
}

/* CSS that should be displayed if width is equal to or less than 900px goes here */
@media (max-width: 900px) {
  input {
    display: block;
    margin: 8px 0;
    padding: 8px 6px;
    border-width: 0 0 2px 0;
    width: 100%;
  }
  form {
    margin: 18px 0 8px 0;
  }
  .header-content {
    display: block;
    margin-left: 24px;
  }
  .main {
    width: 100%;
  }
  .funnel-step-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .funnel-form-wrapper {
    width: 100%;
  }
  /* Aiapie Newsletter */
  .register-email-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px;
    margin-bottom: 24px;
  }
  .newsletter-title {
    width: 100%;
    text-align: center;
  }
  .newsletter-description {
    width: 100%;
    text-align: center;
  }
  .newsletter-img-wrapper {
    display: flex;
    justify-content: center;
  }
}
