/* Master Styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --main-color: #b3ffc7;
  --main-color-rgb: 179, 255, 199;
  --main-text-color: #ffffff;
  --darker-color: #68e0e2;
  --darker-color-rgb: 104, 224, 226;
  --text-gray: #3b3232;
  --text-light: white;
  --dark: black;
  --light: white;
  --footer-color: #535353;
  --header-color: #2193b0;
  --box-shadow: 0px 5px 8px 1px #888888;
  --box-shadow-red: 0px 5px 8px 1px #ca1912;
}

html,
body {
  background: black;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  font-family: sans-serif;
  margin: 0px; /* removed standart pargin of 8px*/
  position: relative; /* required if we want to use "position: absolute" on a child element */
  height: 100%;
}
h1 {
  font-size: larger;
  color: var(--main-text-color);
}
h2 {
  font-size: large;
  color: var(--main-text-color);
}
p {
  font-size: medium;
  color: var(--main-text-color);
}
/* Header */
.header-wrapper {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: larger;
  font-weight: bold;
  width: 100%;
  padding: 0 24px 24px 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 24px;
  background: white;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.header-wrapper img {
  height: 50px;
  width: 50px;
}
.intro-wrapper {
  display: flex;
  justify-content: center;
}
.intro-background img {
  height: 300px;
  width: auto;
}
/* Main */
.main-wrapper {
  display: flex;
  color: black;
  font-weight: bold;
  width: 100%;
  padding: 0 24px 24px 24px;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding-top: 24px;
}
.main-content {
  max-width: 600px;
  text-align: left;
}
.title {
  margin: 24px 0;
}
.subtitle {
  margin: 12px 0;
}
/* Footer */
.footer-wrapper {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
  width: 100%;
  padding: 0 24px 24px 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 24px;
  background-color: #ffdee9;
  background-image: linear-gradient(
    92.7deg,
    rgba(245, 212, 212, 1) 8.5%,
    rgba(252, 251, 224, 1) 90.2%
  );
}
